section{
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  section h1{
    margin: 1% 0;
    font-size: 5em;
  }
  section h2{
    width: 70%;
    font-size: 2em;
    font-weight: lighter;
  }
  section .button{
    width: 100%;
    margin-top: 50%;
    font-size: 2em;
  }