/*Menu*/
nav{
  width: 100%; height: 6%;
  display:inline-flex; 
  position:relative;
  background-color: var(--colorPieMenu);
  justify-content: space-around;
  align-items: center;
  gap: 60%;
}
  /*selector idiomas*/
label{
  padding: 0 1%;
  font-size: 3em;
}
label[for="banderaIdiomas"]:hover{
  background-color: var(--colorSelecionado);
  color:white;
}
#banderaIdiomas{
  display: none;
}
#banderaIdiomas:checked~#selectLenguage{
  left: 4%;
}
/*Sub ventana selector Idioma*/
#selectLenguage{
  width: 10%;
  padding: 6px;
  position: absolute;
  top: 100%; left:-15%;
  background-color: var(--colorSelecionado);
  transition: all 0.4s ease-in-out;
}
#selectLenguage>form{
  display: flex;
  flex-direction: column;
}

.bandera>img{
  width: 30px;
}
input[type="radio"]{
  display: none;
}
/*Boton Login*/
#login{
  height: 100%;
}
#login>input{
  border:none;
  padding: 0 60%;
  height: 100%;
  font-size: 1.2em;
}
#login>input:hover{
  background-color: var(--colorSelecionado);
  color: white;
}
/*carrito*/
section{
  display: flex;
  flex-flow: column;
  justify-content: center;
}
#carrito{
  height: 500px; width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
/*Imagen*/
#carrito a{
  display: flex;
  justify-content: center;
}
#carrito img{
  height: 100%;
}
/*Botones*/
#carrito>button{
  position: absolute;
  border: none;
  font-size: 3em;
  color:black;
  text-shadow: 5px 5px gray;
}
#carrito>button:nth-of-type(1){
  left: 10%; top: 50%;
}
#carrito>button:nth-of-type(2){
  top: 50%; right: 10%;
}