main{
  padding: 1%;
}
/*Buscar*/
#busqueda{
  margin: 1% 0%;
  padding: 1%;
  border: 2px solid black;
  background-color: white;
}
#busqueda>#descDepartamento{
  width: 93.2%;
}
#busqueda>fieldset{
  margin: 1% 0;
  padding: 1%;
  border: 1px solid black;
}
#busqueda>div{
  display: flex;
  flex-flow: row;
  justify-content:space-around;
}
#busqueda>div>div{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#busqueda>div>div>input:nth-child(1){
  margin-right: 2%
}
/*tabla*/
table{
  width:100%;
}
table tr td,th{
  border: 2px solid black;
  background-color: white;
}
/*Paginación*/
#paginacion{
  height: 20px; width: 20%;
  margin: 1% auto;
  display: flex;
}
#paginacion>input{
  width: 60px;
}
#paginacion>p{
  width: 100%;
  text-align: center;
}