/*Global*/
main{
  display: flex;
  justify-content: center;
  align-items: center;
}
form{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
/*Boton de volver*/
input[name="volver"]{
  padding: 1% 3%;
  margin-bottom: 2%;
}
/*Formulario de registro*/
fieldset{
  flex: 1 1 100%;
  border:2px solid black;
  padding: 2%;
  background-color:white;
}
legend{
  font-size: 1.5em;
  font-weight: bold;
}
/*Captachar*/
#captcha{
  display: none;
  padding: 3%;
}
#captcha>div{
  display: flex;
  align-items: center;
  justify-content: center;
}
#captcha>div>div{
  display: flex;
  align-items: center;
  justify-content: center;
}
#captcha>div:nth-child(1)>*{
  margin: 1%;
}
#captcha>div:nth-child(2)>*{
  margin: 3.7%;
}
.itemCaptcha{
  width: 50px; height: 50px;
  border: 3px solid gray;
}