section{
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  gap:3%;
}
section .encabezadoMain{
  flex: 100%;
}
section article{
  flex: 0 1 40%;
  padding: 2%;
  border: 2px solid black;
  background-color: white;
  
}
table tr td,th{
  width: 100%;
  border: 2px solid black;
}
article>*{
  margin: 1%;
}
article label{
  font-weight: bold;
}
article h3{
  text-decoration: underline;
  font-size: 2em;
}