main{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
  }
  main>h1{
    margin: 5% 0%;
    font-size: 4em;
  }
  main>h2{
    width: 90%;
    font-size: 2em;
    text-align: center;
    text-decoration: underline 2px
  }
  main>form{
    width: 100%;
    margin: 4%;
    display: flex;
    justify-content: center;
  }
  input[name="volver"]{
    width: 70%;
    padding:1% !important;
    font-size:2em;
  }