<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../webroot/style/reset.css">
    <link rel="stylesheet" href="../webroot/style/variables.css">
    <link rel="stylesheet" href="../webroot/style/base.css">
    <link rel="stylesheet" href="../webroot/style/tecnologias.css">
    <title>LoginLogoff</title>
</head>
<body>
    <div id="root">
        <header>
            <img src="../webroot/media/img/logo_temporal_development_Toast.png" alt="Tostada">
            <h1>LoginLogoff</h1>
        </header>
        <main>
            <section>
                <article>
                    <h3>Curso</h3>
                    <a href="doc/Tema1_Teoria/Mis apuntes/DAW2/DWES/Unit_1/Estudio Tema 1.html" target="_blank">Teoria Tema1</a>
                    <a href="" target="_blank">Proyecto MEAN</a>
                    <a href="doc/Tema2_Documentacion/Mis apuntes/DAW2/DWES/Unit_2/EstudioTema2.html" target="_blank">Documentacion Tema2</a>
                </article>
                <article>
                    <h3>Lenguaje</h3>
                    <a href="https://www.php.net/">PHP</a>
                    <a href="https://javascript.info/">JavaScript</a>
                    <a href="https://www.w3.org/Style/CSS/">CSS</a>
                    <a href="https://html.spec.whatwg.org/">HTML</a>
                </article>
                <article>
                    <h3>Clases o Metodos de PHP usados Para realizar esta aplicación</h3>
                    <a href="https://www.php.net/manual/es/book.pdo">PDO</a>
                    <a href="https://www.php.net/manual/es/book.json">json_encode y json_decode</a>
                    <a href="https://www.php.net/manual/es/function.header">header</a>
                    <a href="https://www.php.net/manual/es/ref.outcontrol.php">Control del Bufes de Saldia</a>
                    <a href="https://www.php.net/manual/en/book.pcre.php">Pcre</a>
                    <a href="https://www.php.net/manual/en/book.filesystem.php">Metodos de Filesystem</a>
                </article>
                <article>
                    <h3>Software Utilizado</h3>
                    <a href="https://code.visualstudio.com/">Visual Studio Code</a>
                    <a href="https://apache.org/">Apache</a>
                    <a href="https://www.mysql.com/">Mysql</a>
                </article>
            </section>
        </main>
        <footer>
            <p>Luis Pérez Astorga® 2022-2023</p>
            <a href="../../index.html"><img src="./webroot/media/img/logo_Casa.png" alt="Pagina Creador" height="50" width="50"></a>
            <p>Pagina a Copiar:<a href="https://www.raspberrypi.com/" target="_blank">Raspberry Pi</a></p>
            <a href="https://github.com/BrokenToast/207DWESProyectoFinal" target="_blank"><img src="./webroot/media/img/git.png" alt="GitHub" height="50" width="50"></a>
        </footer>
    </div>
</body>
</html>